{% extends 'base2.html.twig' %} {% block title %}Changer de mot de passe - My
movie night{% endblock %} {% block main %}

<div
  class="container-fluid d-flex flex-column align-items-center justify-content-start loginMain bgSite"
>
  <h1>Profil de {{ app.user.username }}</h1>
  <h3 class="colorJauneMoche">Modification du profil</h3>
  <div class="card-border col-6">
    <div class="cardBody p-4">
      {{ form(modifyProfil) }}
    </div>
  </div>
</div>

{% endblock %} 
