{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-center loginMain bgSite">
    <h1> Profil de</h1>
    <h3>Modification du mot de passe</h3>
    <div class="card-border col-6">
          <div class="cardBody p-4">
               {{form(modifyPwd)}}
          </div>
    </div>
</div>

{% endblock %}


{# 1 formulaire
    -le mot de passe actuel -> comparer avec le mot de passe de la BDD
    -le nouveau mot de passe
    -confirmation du nouveau mot de passe

    2-Maj du mot de passe dans la BDD
    3-notification de la modification du mot de passe
#}