{% extends 'base2.html.twig' %} {% block title %}Liste Vide - My movie night{%
endblock %} {% block main %}
<section
  class="container-fluid d-flex flex-column align-items-center justify-content-center"
>
  <h1 class="">Votre liste est vide</h1>
  <h2 class="colorJauneMoche">
    {{ app.user.username }}
  </h2>
  <h3 class="colorBleuClair">
    {{message}}
  </h3>
  <a href="{{ path('app_home') }}" class="btn btn-primary"
    >Retourner à l'accueil</a
  >
</section>
{% endblock %}
