{% extends 'base.html.twig' %}

{% block title %}My Movie Night{% endblock %}

{% block main %}


    <section class="container-fluid accueilGlobal d-flex flex-column justify-content-center align-items-center my-auto" id="accueilGlobal">
        
            <div class="col-sm-12 col-md-10 col-lg-8"> {# Adjust column sizes as needed #}
                <h1 class="text-center titreAccueil"><span class="colorJauneMoche">My</span> Movie Night</h1> {# Added text-center #}
            </div>
        

        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">

            <form action="" method="post" class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-10">
                <!-- Section pour le filtre de notes -->
                <div class="range_container col-12">
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center">
                            <!-- Affichage input min/gauche pour la note -->
                            <label class='label-slider text-center ' for="chiffreMin">Note minimum</label>
                            <div class="form_control_container col-2">
                                <input class="form_control_container__time__input fw-bold" type="number" id="chiffreMin" value="5.5" min="0" max="10" step="0.1" />
                            </div>
                            <!-- Barres de sliders pour la note -->
                            <div class="sliders_control col-6">
                                
                                <input id="barreMin" type="range" value="6" min="0" max="10" step="0.1" name="minNote" aria-label="Note minimum" aria-valuemin="0" aria-valuemax="10" aria-valuenow="6" />
                                <input id="barreMax" type="range" value="9" min="0" max="10" step="0.1" name="maxNote" aria-label="Note maximum" aria-valuemin="0" aria-valuemax="10" aria-valuenow="9" />
                            </div>
                            <!-- Affichage input max/droite pour la note -->
                            <div class="form_control_container col-2">
                                
                                <input class="form_control_container__time__input fw-bold" type="number" id="chiffreMax" value="7" min="0" max="10" step="0.1" />
                            </div>
                            <label class='label-slider text-center ' for="chiffreMax">Note maximum</label>

                        </div>
                    </div>
                </div>
                <!-- Section des filtres cachés (genres et années) -->
                <div class="container sectionCachee" id="hiddenFiltersSection">
                    <!-- Section pour le filtre des genres -->
                    <div class="checkbox-section">
                        <div class="checkbox-container row d-flex justify-content-center my-3">
                            <!-- Checkbox pour le genre Action -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="action">Action</label>
                                <input class="form-check-input" type="checkbox" value="action" id="action" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Adventure -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="adventure">Adventure</label>
                                <input class="form-check-input" type="checkbox" value="adventure" id="adventure" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Animation -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="animation">Animation</label>
                                <input class="form-check-input" type="checkbox" value="animation" id="animation" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Biography -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="biography">Biography</label>
                                <input class="form-check-input" type="checkbox" value="biography" id="biography" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Comedy -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="comedy">Comedy</label>
                                <input class="form-check-input" type="checkbox" value="comedy" id="comedy" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Crime -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="crime">Crime</label>
                                <input class="form-check-input" type="checkbox" value="crime" id="crime" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Documentary -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="documentary">Documentary</label>
                                <input class="form-check-input" type="checkbox" value="documentary" id="documentary" name="genres[]">
                            </div>
                        </div>
                        <div class="checkbox-container row d-flex justify-content-center">
                            <!-- Checkbox pour le genre Drama -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="drama">Drama</label>
                                <input class="form-check-input" type="checkbox" value="drama" id="drama" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Familly -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="familly">Familly</label>
                                <input class="form-check-input" type="checkbox" value="familly" id="familly" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Fantasy -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="fantasy">Fantasy</label>
                                <input class="form-check-input" type="checkbox" value="fantasy" id="fantasy" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Sci-fi (Film Noir) -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="sciFi">Film Noir</label>
                                <input class="form-check-input" type="checkbox" value="film-Noir" id="filmNoir" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre History -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="history">History</label>
                                <input class="form-check-input" type="checkbox" value="history" id="history" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Horror -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="horror">Horror</label>
                                <input class="form-check-input" type="checkbox" value="horror" id="horror" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Music -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="music">Music</label>
                                <input class="form-check-input" type="checkbox" value="music" id="music" name="genres[]">
                            </div>
                        </div>
                        <div class="checkbox-container row d-flex justify-content-center">
                            <!-- Checkbox pour le genre Musical -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="musical">Musical</label>
                                <input class="form-check-input" type="checkbox" value="musical" id="musical" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Mystery -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="mystery">Mystery</label>
                                <input class="form-check-input" type="checkbox" value="mystery" id="mystery" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Romance -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="romance">Romance</label>
                                <input class="form-check-input" type="checkbox" value="romance" id="romance" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Sci-fi -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="sciFi">Sci-fi</label>
                                <input class="form-check-input" type="checkbox" value="sci-fi" id="sciFi" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Short -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="short">Short</label>
                                <input class="form-check-input" type="checkbox" value="short" id="short" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Sport -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="sport">Sport</label>
                                <input class="form-check-input" type="checkbox" value="sport" id="sport" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Thriller -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1  py-2">
                                <label class="form-check-label text-center labelFont" for="thriller">Thriller</label>
                                <input class="form-check-input" type="checkbox" value="thriller" id="thriller" name="genres[]">
                            </div>
                        </div>
                        <div class="checkbox-container row d-flex justify-content-center">
                            <!-- Checkbox pour le genre War -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1 py-2">
                                <label class="form-check-label text-center labelFont" for="war">War</label>
                                <input class="form-check-input" type="checkbox" value="war" id="war" name="genres[]">
                            </div>
                            <!-- Checkbox pour le genre Western -->
                            <div class="checkbox-item d-flex flex-column align-items-center mx-2 col-5 col-sm-5 col-md-4 col-lg-1 py-2">
                                <label class="form-check-label text-center labelFont" for="western">Western</label>
                                <input class="form-check-input" type="checkbox" value="western" id="western" name="genres[]">
                            </div>
                        </div>

                    </div>
                    <!-- Section pour le filtre des années -->
                    <div class="range-container d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center">
                                <!-- Affichage input min/gauche pour l'année -->
                                <div class="form_control_container col-2">
                                    <input class="form_control_container__time__input fw-bold" type="number" id="inputAnneeMin" value="1980" min="1920" max="2024" />
                                    <label class="label-slider text-center" for="inputAnneeMin">Année minimum</label>
                                </div>
                                <!-- Barres de sliders pour l'année -->
                                <div class="sliders_control col-6">
                                    <input id="barreAnneeMin" type="range" value="1980" min="1920" max="2024" step="1" name="minAnnee" aria-label="Année minimum" aria-valuemin="1920" aria-valuemax="2024" aria-valuenow="1980" />
                                    <input id="barreAnneeMax" type="range" value="2024" min="1920" max="2024" step="1" name="maxAnnee" aria-label="Année maximum" aria-valuemin="1920" aria-valuemax="2024" aria-valuenow="2024" />
                                </div>
                                <!-- Affichage input max/droite pour l'année -->
                                <div class="form_control_container col-2">

                                    <input class="form_control_container__time__input fw-bold" type="number" id="inputAnneeMax" value="2024" min="1920" max="2024" />
                                    <label class="label-slider text-center" for="inputAnneeMax">Année maximum</label>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Bouton de soumission du formulaire -->
                <div class="d-flex justify-content-center">
                    
                    <button type="submit" name="submit" class="boutonFind d-flex justify-content-center align-items-center px-3 py-2">
                        <!-- Spinner de chargement (caché par défaut) -->
                        <div class="visually-hidden spinner-border text-primary mx-2" role="status">
                        
                        </div>
                        <!-- Texte du bouton -->
                        <span class="trouverTexte">Trouver</span></button>
                </div>
            </form>

            <!-- Bouton chevron pour afficher/cacher les filtres supplémentaires -->
            <div class="container d-flex justify-content-center p-0 m-0">
                <button type="button" class="chevron" aria-expanded="false" aria-controls="hiddenFiltersSection" aria-label="Afficher ou masquer les filtres supplémentaires">
                    <i class="bi bi-chevron-compact-down fs"></i>
                </button>
            </div>
        </div>
        </div>
    </section>

    <script>
        // Sélection des éléments du DOM
        let form = document.querySelector('form');
        let boutonChercher = document.querySelector('.boutonFind');
        let spinner = document.querySelector('.spinner-border');
        let ChargementBouton = document.querySelector('.chargementBouton'); // Note: Cette variable n'est pas utilisée dans le script actuel
        let trouverTexte = document.querySelector('.trouverTexte');


        // Gestion de l'affichage du bouton après navigation (back/forward)
        // Réactive le bouton si la page est restaurée depuis le cache du navigateur (back/forward)
        window.addEventListener('pageshow', function() {
            boutonChercher.removeAttribute('disabled'); // Réactiver le bouton
            spinner.classList.add('visually-hidden'); // Cacher le spinner
            trouverTexte.classList.remove('visually-hidden'); // Afficher le texte du bouton
        });

        // Gestion de la soumission du formulaire
        form.addEventListener('submit', function(e) {
           
            // Afficher le spinner et masquer le texte du bouton lors de la soumission
            spinner.classList.remove('visually-hidden');
            trouverTexte.classList.add('visually-hidden');
            boutonChercher.setAttribute('disabled', 'disabled'); // Désactiver le bouton pour éviter les soumissions multiples
        
        });
    </script>


{% endblock %}
