{% extends 'base2.html.twig' %} {% block title %}Register - My movie night{%
endblock %} {% block main %}

<div
  class="container-fluid d-flex flex-column align-items-center justify-content-center loginMain"
>
  <h2 class="colorBleuSombre">Inscription</h2>
  <div class="card-border col-6">
    <div class="cardBody p-4">
      {{ form(registerForm) }}
    </div>
  </div>
</div>

{% endblock %}
